.wy-side-nav-search .logo {
    max-height: 100px;
    width: auto;
}

.wy-side-nav-search .logo-text {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 8px;
    text-align: center;
}
